<div class="wrapper">
  <div class="page-header clear-filter" filter-color="purple">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-7"
      style="background-image: url('assets/img/header.jpg')"
    ></div>
    <div class="container">
      <div class="content-center brand">
        <!-- <img class="n-logo" src="assets/img/now-logo.png" alt="" /> -->
        <h1 class="h1-seo">Women In His Presence</h1>
        <h3>
          A Faith-based platform that inspires trans-generational women leaders
          for the 21st century
        </h3>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="section section-pagination">
      <div class="container">
        <P class="community-heading"><b>Community for You</b> </P>
        <p class="community">
          Women In His Presence fosters a community that inspires women,
          regardless of their backgrounds, to discover and pursue their
          God-given purpose. We encourage women to become audacious and
          intentionally identify their seeds of greatness, develop them into
          fruits, and serve them to the world.
        </p>

        <p class="community">
          We promote the posture of daily submission to God and continuous
          renewing of our minds, replacing false and lying thoughts with the
          truth and revelation in God's Word.
        </p>
      </div>
    </div>

    <div class="section section-tabs">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <!-- principles section-->
            <section class="page-section" id="principles">
              <div class="container justify-items-center">
                <h2 class="text-center mt-0 principles-heading">
                  We Have 3 Core Principles
                </h2>

                <div class="row">
                  <div class="col">
                    <div class="mt-5">
                      <i class="fas fa-4x fa-link text-primary mb-4"></i>
                      <h3 class="h4 mb-2 principles-words">Connect</h3>
                      <p class="mb-0 principles-sentences">
                        Women In His Presence creates various avenues through
                        which women can connect with other women, connect with
                        resources and connect with their SOURCE. We facilitate
                        various meetings, workshops, and conferences during the
                        year.
                      </p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="mt-5">
                      <i
                        class="fas fa-4x fas fa-lightbulb text-primary mb-4"
                      ></i>
                      <h3 class="h4 mb-2 principles-words">Empower</h3>
                      <p class="mb-0 principles-sentences">
                        Women In His Presence inspires women to discover God’s
                        original intent – purpose. We promote atmospheres that
                        encourage engagement, growth, and empowerment.
                      </p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="mt-5">
                      <i
                        class="fas fa-4x fas fa-exchange-alt text-primary mb-4"
                      ></i>
                      <h3 class="h4 mb-2 principles-words">Transform</h3>
                      <p class="mb-0 principles-sentences">
                        Women In His Presence are agents of change. They seek to
                        enhance and improve their spheres of influence by
                        bolding showing up as the best version of themselves.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <br />
            <br />
            <br />
            <section class="page-section2" id="contact">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8 text-center">
                    <h2 class="mt-0 lets">Let's Get In Touch!</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5 lets-sentence">
                      Ready to join a community of Godly women? Give us a call
                      or send us an email and we will get back to you as soon as
                      possible!
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div class="phone">+234 (***) 123-4567</div>
                  </div>
                  <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i
                    ><a class="d-block" href="mailto: wihpresence@gmail.com"
                      >wihpresence@gmail.com</a
                    >
                  </div>
                </div>
                <br />
                <br />
                <div class="seat">
                  <button
                    routerLink="/stripe"
                    type="button"
                    class="btn btn-warning"
                  >
                    Book A Seat For Our Next Event
                  </button>
                  <!-- <btn  class="btn-md book-seat">
                    Book A Seat For Our Next Event
                  </btn> -->
                </div>
                <br />
                <br />
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer" data-background-color="black">
      <div class="container">
        <div class="copyright">
          &copy;
          {{ data | date: "yyyy" }}, Copyright Women in His Presence.
        </div>
      </div>
    </footer>
  </div>
</div>
